.advantages-page{
    display: flex;
    flex-direction: column;
    padding: 96px 0;
}
.advantages-item{
    gap:8px;
}
.advantages-list {
    width: calc((100% - 72px) / 4);
  }
  .advantages-icon{
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;}
    .advantages-icon-svg{
        display: none;
    }
    .advantages-title{
        align-self: stretch;
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize; 
        text-align: center;
        margin-bottom: 8px;
    }
    .advantages-text{
        align-self: stretch;
        color: var #434455;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5; /* 150% */
        letter-spacing: 0.02em;
    }
    @media screen and (min-width: 768px){
        .advantages-page{
            margin-top: 96px;
            padding-left: 16px;
            display: flex;
        }
        .advantages-item{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 72px; 
        }
        .advantages-list {flex-basis: calc((100% - 24px) / 2);
            padding-bottom: 72px;
        }
        .advantages-icon{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;
        }
        .advantages-icon-svg{
            display: none;
        }
        .advantages-title{
            color: #2E2F42;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11; /* 111.111% */
            letter-spacing: 0.02em;
            text-transform: capitalize;
        }
        .advantages-text{
            align-self: stretch;
            color: #434455;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.02em;
        }
        }
        @media screen and (min-width: 1158px){
            .advantages-page {
                padding: 120px 0;
                background-color: #fff;
              }
              .advantages-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 112px;
                border: 1px solid #8e8f99;
                background-color: #f4f4fd;
                border-radius: 4px;
                margin-bottom: 8px;
              }
              .advantages-icon-svg {
                display: flex;
                align-items: center;
                justify-content: center;
              }
              .advantages-item {
                display: flex;
                gap: 24px;
              }
              .advantages-list {
                width: calc((100% - 72px) / 4);
              }
              
              .advantages-title {
                color: #2e2f42;
                font-size: 20px;
                font-weight: 500;
                line-height: 1.2; /* 120% */
                letter-spacing: 0.02em;
                margin-bottom: 8px;
              }
              .advantages-text {
                color: #434455;
                font-size: 16px;
                line-height: 1.5; /* 150% */
                letter-spacing: 0.02em;
            }
        }
