:root {
  --accent-color: #9747ff;
  --primery-font-famely: "Raleway", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* PAGE HEADER */

.header-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 76px;
}
.logo:focus,
.logo:hover {
  color: #404bbf;
}

.studio {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.menu-list {
  color: #404bbf;
  position: relative;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.current {
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.current::after {
  display: block;
  position: absolute;
  left: 0;
  content: "";
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
}

.menu-item {
  color: #2e2f42;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  position: relative;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}
.address {
  display: flex;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02;
  font-style: normal;
}
.address:hover,
.address:focus {
  color: #404bbf;
}
.address-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  align-items: center;
}

.address-item {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item:focus,
.address-item:hover {
  color: #404bbf;
}
/* Hero Image */
.haro-page {
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
}
.container-hero {
  flex-direction: column;
  gap: 40px;
  display: flex;
  margin: 0 auto;
}
.haro-title {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.haro-button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.haro-button:focus,
.haro-button:hover {
  background-color: #404bbf;
}
/* Advantage */
.advantages-page {
  padding: 120px 0;
  background-color: #fff;
}
.advantages-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.advantages-icon-svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantages-item {
  display: flex;
  gap: 24px;
}
.advantages-list {
  width: calc((100% - 72px) / 4);
}

.advantages-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantages-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/* Our Team */

.team-page {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.our-team {
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-item {
  display: flex;
  gap: 24px;
}
.team-list {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  text-align: center;
}
.container-team {
  padding: 32px 0;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-text {
  color: #434455;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.socials {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 24px;
}
.socials-item {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}
.socials-team-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
}
.socials-team-link:hover,
.socials-team-link:focus {
  background-color: #404bbf;
}

.socials-svg:hover {
  background-color: #404bbf;
}
.socials-svg {
  fill: #f4f4fd;
}
/* Portfolio */
.portfolio-page {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #fff;
}
.our-portfolio {
  margin-bottom: 72px;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  width: calc((100 - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list:hover .overlay {
  transform: translateY(0%);
}
.porfolio-box-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/* FOOTER */
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.logo-text {
  margin-right: 120px;
}
.logo-footer {
  color: #4d5ae5;
  display: inline-flex;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  align-items: center;
}

.footer-studio {
  color: #f4f4fd;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: flex;
  width: 71px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.footer-text-social {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-list-social {
  display: flex;
  gap: 16px;
}
.footer-item-social {
  width: 40px;
  height: 40px;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-social:hover,
.list-social:focus {
  background-color: #31d0aa;
}
.footer-social-svg {
  fill: #f4f4fd;
}
.subscribe-container {
  display: block;
  margin-left: 83px;
}
.subscribe-form {
  display: flex;
  gap: 24px;
  border: none;
}
.subscribe-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.input-mail {
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  color: #fff;
  padding-left: 16px;
  font-size: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.input-mail::placeholder {
  color: #ffffff;
}
.subscribe-button {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #4d5ae5;
  min-width: 165px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 24px;
  cursor: pointer;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}
.subscribe-svg {
  fill: #f4f4fd;
  margin-left: 16px;
}
/* backdrop modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background: var(--DAIRY, #FCFCFC);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--CORNFLOWER, #E7E9FC);
  border: 1px solid rgba(0, 0, 0, 0.10);
  /* border: none; */
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
    background-color: rgba(64, 75, 191, 1);
    fill: rgba(255, 255, 255, 1);
    border: none;
}
.modal-text {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.modal-form-wrapper {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  color: var(--LIGHT-SLATE, #8E8F99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  margin-bottom: 4px;

}

.modal-form-input-wrapper {
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.modal-form-input:focus {
  border: 1px solid #4D5AE5;
  outline: transparent;
}

.modal-form-input:focus+.modal-form-icon {
  fill: rgba(77, 90, 229, 1);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-spec-margin {
  margin-bottom: 16px;
}
.modal-form-comment:focus {
  border-color: rgba(77, 90, 229, 1);

}

.modal-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);

}

.modal-form-wrapper-checkbox {
  margin-bottom: 24px;
}
.modal-form-checkbox-label {
  display: block;
  color: var(--LIGHT-SLATE, #8E8F99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;

}

.modal-form-checkbox-mark {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox-input:checked+.modal-form-checkbox-label>.modal-form-checkbox-mark {
  background-color: #404BBF;
  border: 1px solid var(--OCEAN, #404BBF);
  fill: rgba(244, 244, 253, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.modal-form-checkbox-input:focus+.modal-form-checkbox-label>.modal-form-checkbox-mark {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}


.modal-form-privacy {
  color: var(--IRIS, #4D5AE5);
  line-height: 1.33;
  text-decoration: underline;
}
.modal-button-submit {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  color: var(--WHITE, #FFF);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  border-radius: 4px;
  background: var(--IRIS, #4D5AE5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-button-submit:hover,
.modal-button-submit:focus {
    background: var(--OCEAN, #404BBF);
}