.footer {
    background: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96px;
    }
    
    .footer-container {
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    }
    
    .logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .logo-footer{
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 18px;
    text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
    }
        
    .footer-studio{
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
    
    .footer-text {
    color: #F4F4FD;
    font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 72px;}
    
    .footer-text-social {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
        max-width: 264px;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
.footer-list-social{
    width: 40px;
    height: 40px;
}
    
    .list-social{
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
            

            
    .list-social:hover,
    .list-social:focus {
    background-color: #31d0aa; 
    }
    
    .subscribe-text {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        display: flex;
        justify-content: center;
    }
    
    .input-mail{
        width: 288px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid var(--WHITE, #fff);
        opacity: 0.3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        background-color: transparent;
        margin-bottom: 16px;
    }
    
    .subscribe-button {
        width: 165px;
        height: 40px;
        font-family: "Roboto", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4d5ae5;
        border: none;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .subscribe-svg{
        fill: #f4f4fd;
    margin-left: 16px;
    }
    
    .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .input-mail::placeholder {
        color: #ffffff;}
    
    @media screen and (min-width: 768px) {
    
    .footer {
    padding-top: 96px;
    padding-bottom: 96px;
    }
    
    .footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
    padding-left: 88px;
    align-items: baseline;
    justify-content: center;
    }
    
    .footer-text {
    max-width: 264px;
    margin-bottom: 0;
    }
    
    .subscribe-text {
    text-align: left;
    }
    
    .subscribe-form{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    }
    
    .input-mail {
    width: 264px;
    margin-right: 24px;
    }
    
    .subscribe-button{
    width: 165px;}
    .subscribe-text{
         justify-content: flex-start;}
   
    }
    
    @media screen and (min-width: 1158px) {
    
    .footer{
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    }
    
    .footer-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    margin: 0 auto;
    gap: 0;
    }
    
    .logo-text{
    margin-right: 120px;
    align-items: flex-start;
    }
    
    .footer-list-social{
    display: flex;
    gap: 16px;
    }
    
    .list-social{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .footer-item-social{
    width: 40px;
    height: 40px;
    }
    
    .list-social:hover,
    .list-social:focus {
    background-color: #31d0aa; 
    }
    
    .logo-footer{
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    text-align: left;
    margin-bottom: 16px;
    }
    
    .footer-studio{
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
    
    .footer-text{
    color: #F4F4FD;
    width: 264px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
    
    .footer-text-social{
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 16px;
    }
    
    .footer-social-svg{
    fill: #f4f4fd
    }
    
    .container-footer-social{
    margin-right: 80px;
    }
    
    .subscribe-form{
    display: flex;
    gap: 24px;
    }
    
    
    .subscribe-text{
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    }
    
    .input-mail{
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    margin: 0;
    color: #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #ffffff; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    }
    
    .input-mail::placeholder{
    color: #ffffff;
    }
    
    .subscribe-button{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    }
                
    .subscribe-svg{
    margin-left: 16px;
    }
    }