.advantages-icon {
  display: none;
}

.advantages-page {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #fff;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.advantages-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  gap: 8px;
}

.advantages-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .advantages-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .advantages-list {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .advantages-container {
    display: flex;
  }

  .advantages-icon {
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .advantages-page{
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-item {
    display: flex;
    width: 1158px;
    align-items: stretch;
    gap: 24px;
  }

  .advantages-list {
    width: calc((100% - 72px) / 4);
  }

  .advantages-title {
    color: #2e2f42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .advantages-text{
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
