:root {
    --accent-color: #9747ff;
    --primery-font-famely: "Raleway", sans-serif;
    --secondary-font-family: "Roboto", sans-serif;
  }
  .list {
    list-style-type: none;
    gap:40px;
  }
  .link {
    text-decoration: none;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: var(--accent-color);
  }
  button {
    cursor: pointer;
    font-family: inherit;
    color: currentColor;
  }
  
  h1,
  h2,
  h3,
  h4,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
  }
  .input{
    font-family: inherit;
  }


  